<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218209178932-t5b0921bbo4fc07fbkibpoejdhpqbrep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218209178932-t5b0921bbo4fc07fbkibpoejdhpqbrep</string>
	<key>API_KEY</key>
	<string>AIzaSyBv4EhisnWOGpu0a0T5plvW6XbRQc7DyGY</string>
	<key>GCM_SENDER_ID</key>
	<string>218209178932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>milad.test.MyBookshelf</string>
	<key>PROJECT_ID</key>
	<string>my-bookshelf-96582</string>
	<key>STORAGE_BUCKET</key>
	<string>my-bookshelf-96582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218209178932:ios:31017676bb0d6ce2fbc161</string>
</dict>
</plist>